*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(167, 184, 188);
}
.container{
   
    max-width: 520px;
    margin: 100px auto; 
    padding: 30px;
}
/* Cards */
.card{
    background-color: rgb(245, 243, 243);
    margin: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 20px 20px 20px;
} 
/* headings */
.card h2{
    font-size: 23px;
    margin-bottom: 14px;
}
/* paragraphs */
.card p{
    font-size: 15px;
    font-weight: 600px;
    margin-bottom: 25px;
}
/* Links */

.card a{
    text-decoration: none;
    color: rgb(227, 224, 224);
    background-color: rgb(42, 41, 41);
    padding: 10px 15px; 
    border-radius: 100px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);

}
/* heading colors */

.card-sporty h2{
    color: rgb(251, 88, 29) ;
}
.card-casual h2{
    color: rgb(6, 127, 247) ;
}
.card-formal h2{
    color: rgb(109, 29, 0) ;
}
/* button Color */
.card-sporty a{
    background-color: rgb(251, 88, 29);
}
.card-casual a{
    background-color: rgb(6, 127, 247);
}
.card-formal a{
    background-color: rgb(109, 29, 0);
}

/*  bg images layout */

.card-sporty{
    background: rgb(245, 243, 243) url(./images/sporty.png) no-repeat center right  ;
    background-size: 155px;

}
.card-casual{
    background: rgb(245, 243, 243) url(./images/casual.png) no-repeat center right  ;
    background-size: 180px;

}
.card-formal{
    background: rgb(245, 243, 243) url(./images/formal.png) no-repeat center right  ;
    background-size: 165px;

}
